.main__parents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

@media only screen and (min-width: 900px) {
    .main__parents {
        flex-wrap: nowrap;
    }
}