._center-container {
    position: relative;
}

._vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

._horizontal-center {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

._center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
