.nav_dropdown {
    position: relative;
    display: inline-block;
}

.nav_dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    border-width: 1px 0 0 0;
    border-style: solid;

    background-color: #f9f9f9;
    box-shadow: -4px 8px 12px 0 rgba(0,0,0,0.2);

    z-index: 1;
}

.nav_dropdown:hover .nav_dropdown-content {
    display: block;
}

.nav_:hover {
    background-color: #e0e0e0;
}
