.glide__image {
    display: block;
    object-fit: cover;
    /*width: 225px;*/
    /*height: 300px;*/
    width: 100%;
    border: black solid 1px;
}


/*.glide__image__2 {*/
/*    object-position: center 45%;*/
/*}*/

/*.glide__image__4 {*/
/*    object-position: center 20%;*/
/*}*/

/*.glide__image__5 {*/
/*object-position: center 50%;*/
/*}*/
