.body {
    min-width: min-content;
    max-width: 1100px;
    height: 100%;
    margin: 20px auto 0 auto;
    padding: 0 30px;

    background-color: #fff;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: min-content min-content min-content 1fr;
}

@media only screen and (min-width: 500px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 1100px) {

}