.body {
    min-width: min-content;
    max-width: 1100px;
    margin: auto;
    padding: 0 1rem 0 1rem;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    column-gap: 1rem;
}